

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 10px;
    transition: width 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container:hover {
    width: 700px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #55435E;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 500px;
    height: 6px;
    background: black;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: block;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #f1f1f1;
    border: none;
    border-radius: 6px;
    padding: 20px;
}

.input input {
    margin-top: -5px;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #313131;
    font-size: 19px;
    font: italic normal 19px/1 "Calibri", sans-serif;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #DED32F;
    color: #5E5D43;
}

.error {
    color: red;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2.5;
}

.signup-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    background-color: pink;
    text-align: center;
    border: 2px solid rgb(171, 74, 74);
    outline-offset: 5px;
    width: 500px;
    height: 100px;
    font-size: 20px;
    justify-self: center;
    color: rgb(171, 74, 74);
    font-weight: 700;
    border-radius: 20px;
}

.signup-error img {
    height: 50px;
    display: flex;
}

.signup-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    background-color: rgb(168, 221, 168);
    text-align: center;
    border: 2px solid rgb(40, 162, 85);
    outline-offset: 5px;
    width: 500px;
    height: 100px;
    font-size: 20px;
    justify-self: center;
    color: rgb(40, 162, 85);
    font-weight: 700;
    border-radius: 20px;
    
}

.signup-success img {
    height: 50px;
    display: flex;
}

.signup-success a{
    color: rgb(75, 111, 183);
}

.signup-success a:hover{
    color: rgb(53, 89, 136);
}